<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="c:\temp\internal-nlog-AspNetCore.txt">

	<!-- enable asp.net core layout renderers -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<!-- the targets to write to -->
	<targets>
		<target name="database" xsi:type="Database" keepConnection="false"
	   dbProvider="System.Data.SQLite">
			<connectionString>
				Data Source=.\\wwwroot\\Data\\palm.db;
			</connectionString>

			<commandText>
				INSERT into Log(Timestamp, Loglevel, Callsite, Message) values(@Timestamp, @Loglevel, @Callsite, @Message)
			</commandText>
			<parameter name="@Timestamp" layout="${longdate}"/>
			<parameter name="@Loglevel" layout="${level:uppercase=true}"/>
			<parameter name="@Callsite" layout="${callsite:filename=true}"/>
			<parameter name="@Message" layout="${message}"/>		
		</target>

	</targets>

	<!-- rules to map from logger name to target -->
	<rules>
		<logger name="*" minlevel="Info" writeTo="database" />
	</rules>
</nlog>