@using Palm.Models.Book;
@model BookingConfirmationView

<div class="container">
    <h1>Booking confirmed</h1>
    <p>You're all set to stay</p>
    <h4>Dates</h4>
    <div>@Model.Booking.StartDate - @Model.Booking.EndDate</div>
</div>






