@page
@model PalmVillas.Pages.Book.ConfirmationModel
@{
}

<div class="card border-4" style="width:50%">
    <div class="card-body">
        <h3>Great you're all set! You will receive an email with your booking details. Have a great holiday!</h3> 
    </div>
    <p>dev note: (obviously styling would be improved here)</p>
</div>

