@page
@model PalmVillas.Pages.Book.DuplicateBookingModel
@{
}

<div class="card border-4" style="width:50%">
    <div class="card-body">
        <h3>
            We're sorry but a duplicate booking was detected. This can rarely occur if someone books the same property from a different website.
            Please try again and amend your dates.
        </h3>
    </div>
    <p>dev note: (obviously styling would be improved here)</p>
</div>

