@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
    
}

<br/>
<header>
    <div class="container">
        <h1 class="text-danger">@ViewData["Title"]</h1>
        <p class="text-danger">You do not have access to this resource.</p>
        <ul>
            <li>For testing purposes you can elevate your permissions in your profile once logged in.</li>
           
        </ul>
    </div>
   
</header>


