@page
@model PalmVillas.Pages.Account.ProfileModel
@{
    
}

<br/>
<div class="container">
   <div class="form-group">
       <label>Name:</label>
       <label>@Model.AppUser.Name</label>
   </div>
    <div class="form-group">
        <label>Email:</label>
        <label>@Model.AppUser.Email</label>
    </div>
    <h4>Roles</h4>
    <form method="post">
       
        @for (var i = 0; i < Model.Roles.Count(); i++)
        {
            <div>
                <input type="hidden" asp-for="Roles[i].Key" />
                <input asp-for="Roles[i].Value" />
                <label>
                    @Model.Roles[i].Key
                </label>
               
            </div>

          
        }
        
        <button>Update</button>
    </form>  
</div>
